useDynLib(gps, .registration = TRUE)

export(MakeGrid, PlaceKnots, DemoKnots, DemoBS, DemoSpl,
       SparseD, DemoNull, DiffCoef,
       GramBS, btSb,
       PriorCoef, MPinv,
       pbsDesign, SparsePD, DemoPBS,
       gps2GS, DemoRhoLim)

import(stats)
importFrom(splines, splineDesign)
importFrom(Matrix, crossprod)
importFrom(methods, new)
importFrom(graphics, plot.default, points.default, lines.default,
           abline, matplot, matlines, par, segments, text.default, mtext, polygon, title)
importFrom(grDevices, gray)
